body{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: Inter, Jost, Arial, Helvetica, sans-serif;
}
header a {
    text-decoration: none;
    color: #000000;
}
header a:hover{
    font-weight: bold;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
header p {
    margin: 0;
    font-size: 10pt;
    text-transform: uppercase;
}
header nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 150px;
}
header img{
    height: 40px;
}
div.hero{
    position: relative; 
    display: flex;
}
div.hero img{
    width: 60%;
    height: 60%;
    max-width: 100%;
    opacity: 100%;
}
div.testata {
    padding: 8rem;
    margin-left: -60px;
}
div.testata h1{
    color: rgb(185, 41, 23);
}
div.testata p{
    width: 300px;
}
div.descrizione p{
    margin-left: -1rem;
    margin-top: 5rem;
}
main {
    margin-top: 5rem;
    margin-left: 300px;
    margin-right: 300px;
    gap: 10px;
  
}
div.contenitore h1 {
    text-decoration: none;
    color: #000000;
}
div.contenitore nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 50px;
}
nav.anni h1{
    font-family: Jost;
    font-size: 50px;
}
.contenitore .anni{
display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    margin-top: 1rem;
}

div.contenitoremesi img{
    width: 137px;
    height: 185px;
    overflow: hidden;
}
div.contenitoremesi{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 5rem;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}
div.contenitore button{
    background: none;
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
}