body{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: Inter, Jost, Arial, Helvetica, sans-serif;
}
header a {
    text-decoration: none;
    color: #000000;
}
header a:hover{
    font-weight: bold;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
header p {
    margin: 0;
    font-size: 10pt;
    text-transform: uppercase;
}
header nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 150px;
}
header img{
    height: 40px;
}
div.hero{
    position: relative; 
    display: flex;
}
div.hero img{
    width: 60%;
    height: 60%;
    max-width: 100%;
    opacity: 100%;
}
div.testata {
    padding: 8rem;
    margin-left: -60px;
}
div.testata h1{
    color: rgb(185, 41, 23);
}
div.testata p{
    width: 300px;
}
div.descrizione p{
    margin-left: -1rem;
    margin-top: 5rem;
}
main {
    margin-top: 5rem;
    margin-left: 300px;
    margin-right: 300px;
    gap: 10px;
  
}
.container{
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 20px;
    margin: 50px;
    margin-left: -10px;
}
button{
    padding: 10px 20px;
    font-family: Jost;
    font-size: 50px;
    background: white;
    border: none;
    cursor: pointer;
   
    
}
.filter_button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
button.active {
    color: rgb(185, 41, 23);
}
.filterable_cards{
    display: flex;
    margin-top: 25px;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.card{

    flex-basis: 180px;
}
.card img{
    width:100%;
}
.card.hide{
    display: none;
}
footer{
    background-color: rgb(240,240,240);
    margin-top: 10rem;
    display: flex;
}
footer div p{
    padding: 1rem;
    font-size: smaller;
    padding-left: 1rem;
    margin-top: -0.5rem;
}

.info{
    margin-left: 0rem;
    margin-right: 3rem;
}

.facebook{
    display: flex;
}

.facebook img{
    max-width: 40px;
    max-height: 30px;
}

.instagram{
    display: flex;
}

.instagram img{
    max-width: 30px;
    max-height: 30px;
}

.web{
    display: flex;
}

.web img{
    max-width: 30px;
    max-height: 30px;
}

.mail{
    display: flex;
}

.mail img{
    max-width: 30px;
    max-height: 20px;
}

.facebookassociazione{
    display: flex;
}

.facebookassociazione img{
    max-width: 40px;
    max-height: 30px;
}

.instaassociazione{
    display: flex;
}

.instaassociazione img{
    max-width: 30px;
    max-height: 30px;   
}

.marchi1{
    display: flex;
}

.abact{
    display: flex;
}

.abact img{
    max-width: 30px;
    max-height: 30px;
}

.associazioneculturale img{
    max-width: 120px;
    max-height: 40px;
}

.marchi2{
    display: flex;
}

.marchi2 img{
    max-width: 100px;
}