body{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: Inter, Jost, Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    color: #000000;
}

header a:hover{
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header p {
    margin: 0;
    font-size: 10pt;
    text-transform: uppercase;
}

header nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 150px;
}

header img{
    height: 40px;
}

.hero{
    width: 100%;
    height: auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    margin: 3rem;
    margin-top: 5rem;
}

.info h1{
    color: rgb(185, 41, 23);
    margin-top: -5rem;
}

.info h2{
    max-width: 300px;
    color: rgb(208, 207, 207);
}

.info p{
    max-width: 250px;
}

.hero img{
    width: 20%;
    height: 20%;
    margin-top: 15rem;
    margin-left: 9rem;
    margin-right: 9rem;

}

.descrizione p{
    max-width: 250px;
    margin-top: 6rem;
}

.testo {
    max-width: 700px;  
    margin: 11rem 25rem 0 25rem; 
}

.testo h3{
    margin-top: 5rem;
}

.fondatori-conteiner ul{
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem 2rem ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    gap: 2rem;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
}

a .specializzazione{
    color: rgb(185, 41, 23);
}

.grizzanti{
    max-width: 320px;
    max-height: 380px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
}

.grizzanti p{
    font-size:large;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.grizzanti .specializzazione{
    font-size: small;
    margin: -1rem 0 0 0.5rem;
}

.grizzanti img {
    max-width: 100%;
    margin-left: -0.5rem;
    margin-top: 0.4rem;
    border-radius: 10px;

}

.chiabrando{
    max-width: 320px;
    max-height: 380px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
}

.chiabrando p{
    font-size:large;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.chiabrando .specializzazione{
    font-size: small;
    margin: -1rem 0 0 0.5rem;
}

.chiabrando img {
    max-width: 100%;
    margin-left: -0.5rem;
    margin-top: 0.8rem;
    border-radius: 10px;
}

.massimodradi{
    max-width: 320px;
    max-height: 380px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
}

.massimodradi p{
    font-size:large;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.massimodradi .specializzazione{
    font-size: small;
    margin: -1rem 0 0 0.5rem;
}

.massimodradi img {
    max-width: 105%;
    margin-left: -0.5rem;
    margin-top: 0.5rem;
    border-radius: 10px;
}
