body{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: Inter, Jost, Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    color: #000000;
}

header a:hover{
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header p {
    margin: 0;
    font-size: 10pt;
    text-transform: uppercase;
}

header nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 150px;
}

header img{
    height: 40px;
}


.hero img{
    display: flex;
    max-width: 70%;
    margin-left: 13rem;
}

.info{
    margin-left: 3rem;
    margin-top: 10rem;
    padding-left: 5rem;
    display: flex;
}

.info h1{
    color: rgb(185, 41, 23);
}

.info p{
    padding-left: 50rem;
    max-width: 250px;
}

.box{
    width: 100%;
    height: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.descrizioni {
    max-width: 700px;
    margin: 5rem 0 0 0;
    margin-left: 2rem;
    margin-right: 2rem;
}


.subtitle{
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.subtitle2{
    margin: 0 2rem 0 2rem;
}

.fondatori-conteiner ul{
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem 2rem ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    gap: 2rem;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
}

a .specializzazione{
    color: rgb(185, 41, 23);
}

.rossi{
    max-width: 320px;
    max-height: 320px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
}

.rossi p{
    font-size:large;
    margin-top: 0.5rem;
}

.rossi .specializzazione{
    font-size: small;
    margin: -1rem 0 0 0;
}

.rossi img {
    max-width: 105%;
    margin-top: 0.30rem;
    margin-left: -0.5rem;
    border-radius: 10px;

}

.dradi{
    max-width: 320px;
    max-height: 320px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
}

.dradi p{
    font-size:large;
    margin-top: 0.5rem;
}

.dradi .specializzazione{
    font-size: small;
    color: rgb(185, 41, 23);
    margin: -1rem 0 0 0;
}

.dradi img {
    max-width: 100%;
    margin-top: 0.8rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
  
.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modale_rossi{
    display: flex;
    max-width: 80%;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.modal-contentd{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dradiModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modale_rossi{
    display: flex;
    max-width: 80%;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.modale_dradi{
    display: flex;
    max-width: 80%;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
} 

.img{
    display: flex;
}

.img-d{
    display: flex;
    height: 500px;
}

.specifiche{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.specifiche .fondatore{
    font-size: large;
    margin-top: 0.5rem;
}

.specifiche .specializzazione{
    font-size: small;
    margin: -1rem 0 0 0;
    color: rgb(185, 41, 23);
}

.specifiche .date{
    margin-top: 2rem;
    color: #b2afaf;
}

.info-fond{
    display: flex;
    gap: 3rem;
    margin-top: -1.5rem;
    color: #b2afaf;
}

.close {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
  
.close:hover {
    color: #b2afaf;
}

.campisti-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.campisti-1 img{
    display: flex;
    width: 50%;
    height: auto;
}

.foto{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(181, 181, 181);
    font-size: small;
}

.firme{
    display: flex;
    align-items: center;
    justify-content: center;
}

.firme img{
    display: flex;
    width: 50%;
    height: auto;
    margin-top: 2rem;
}

.print{
    display: flex;
    align-items: center;
    justify-content: center;
}

.print img{
    width: 40%;
    margin-top: 1.5rem;
    padding-right: 2rem;
}

.print p{
    margin-top: -4rem;
}

footer{
    background-color: rgb(240,240,240);
    max-width: 100%;
    margin-top: 10rem;
}

footer div p{
    padding: 1rem;
    font-size: smaller;
    margin-top: -0.5rem;
}


.contatti{
    display:flex;
    margin-left: -24rem;

}

.marchi{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.marchi img{
    max-width: 100px;
    margin-left: 1rem;
}

.abact{
    display: flex;
}

.abact img{
    max-width: 30px;
    max-height: 30px;
}
