body{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: Inter, Jost, Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    color: #000000;
}

header a:hover{
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:0px 15px 0px 15px;
    color:#bfbfbf;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}
  
.cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:0px 15px 0px 15px;
    color:#bfbfbf;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}

.menu{
    z-index:1000000; 
    font-size:0.8em; width:100%; 
    background:#ffffff;  
    position:absolute; 
    text-align:center;
}
.menu ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none;
}
.menu li {
    display: block;   
    padding:15px 0 15px 0; 
}
.menu li:hover{
    display: block;    
    background-color:#f3f3f3; 
    padding:15px 0 15px 0; 
}
.menu ul li a { 
    text-decoration:none;  
    margin: 0px; 
    color:#000000;
}
.menu ul li a:hover {  
    color: #000000; 
    text-decoration:none;
}
.menu a{
    text-decoration:none; 
    color:rgb(0, 0, 0);
}
.menu a:hover{
    text-decoration:none; 
    color:rgb(0, 0, 0);
}

header img{
    height: 40px;
}

.info{
    margin-top: -15rem;
    margin-right: 5rem;
}

.info h1{
    color: rgb(185, 41, 23);
}

.info h2{
    max-width: 300px;
    color: rgb(208, 207, 207);
}

.info p{
    max-width: 250px;
}

.hero{
    width: 100%;
    height: auto;
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img{
    max-width: 100%;
}

.descrizione p{
    max-width: 250px;
    padding-left: 5rem;
    padding-right: 2rem;
}

.box{
    width: 100%;
    height: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.testo {
    max-width: 700px;  
    margin-left: 2rem;
    margin-right: 2rem;
}

.testo h3{
    margin-top: 8rem;
}

.futura{
    max-width: 700px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.futura img{
    max-width: 100%;
}

footer{
    background-color: rgb(240,240,240);
    max-width: 100%;
    margin-top: 10rem;
}

footer div p{
    padding: 1rem;
    font-size: smaller;
    margin-top: -0.5rem;
}


.contatti{
    display:flex;
    margin-left: -24rem;

}

.marchi{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.marchi img{
    max-width: 100px;
    margin-left: 1rem;
}

.abact{
    display: flex;
}

.abact img{
    max-width: 30px;
    max-height: 30px;
}