body{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: Inter, Jost, Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    color: #000000;
}

header a:hover{
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    color: #000000;
}
  
header h1 {
    font-size: 21px;
}
  
nav {
    margin:0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 60px;
    
}
  
nav ul {
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
    display: flex;
    gap: 60px;
}
  
nav ul li {
    position: relative;
}
  
nav ul a {
    color: #000000;
    text-decoration: none;
}
  
.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
}
  
.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgb(0, 0, 0);
}
  
.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
  
.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
  
input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
  
input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
  
input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
  
.checkbox {
    position: absolute;
    display: none;
    height: 32px;
    width: 32px;
    top: 16x;
    right: 16px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

header img{
    width: 25px;
}

.testo p{
    line-height: 1.5;
}

.info{
    padding-right: 5rem;
}

.info h1{
    color: rgb(185, 41, 23);
}

.info h2{
    max-width: 300px;
    color: rgb(208, 207, 207);
}

.info p{
    max-width: 250px;
}

.hero{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.hero img{
    max-width: 100%;
}

.descrizione p{
    width: 250px;
    padding-left: 5rem;
}

.box{
    width: 100%;
    height: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.testo {
    max-width: 700px;  
    margin-left: 2rem;
    margin-right: 2rem;
}

.testo h3{
    margin-top: 8rem;
}

.futura{
    max-width: 700px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.futura img{
    max-width: 100%;
}

footer{
    background-color: rgb(240,240,240);
    max-width: 100%;
    margin-top: 10rem;
}

footer div p{
    padding: 1rem;
    font-size: smaller;
    margin-top: -0.5rem;
}


.contatti{
    display:flex;
    margin-left: -24rem;

}

.marchi{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.marchi img{
    max-width: 100px;
    margin-left: 1rem;
}

.abact{
    display: flex;
}

.abact p{
    font-size: 8pt;
    color: #000000;
}

.abact img{
    max-width: 30px;
    max-height: 30px;
}

@media only screen and (max-width: 750px) {
    .checkbox {
      display: block;
    }
    nav ul {
      gap: 10px;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: rgb(240,240,240);
      width: 100%;
      height: 100%;
      justify-content: center;
      text-align: center;
    }
  
    input[type="checkbox"]:checked ~ nav ul {
      opacity: 100;
    }
  
    .hamburger-lines {
      opacity: 100;
    }
  
    ul li {
      display: block;
    }
  
    .submenu {
      width: 100%;
      display: block;
      position: relative;
      padding: 10px 0;
      margin: 0;
    }
}




@media(max-width:1144px){
    .info{
        padding-right: 3rem;
    }
    .descrizione p{
        padding-left: 3rem;
        width: 250px;
    }
}
@media(max-width:1080px){
    .hero{
        padding-top: 4rem;
    }
    h1{
        font-size: 23pt;
        width: 300px;
    }
    h2{
        font-size: 17pt;
        width: 300px;
    }
    .info{
        padding-right: 1rem;
    }
    .descrizione p{
        padding-left: 1rem;
        width: 250px;
    }
}
@media(max-width:1000px){
    .hero{
        padding-top: 2rem;
    }
    h1{
        font-size: 20pt;
    }
    h2{
        font-size: 14pt;
    }
}

@media(max-width:910px){
    .hero img{
        width: 250px;
    }
}

@media(max-width:870px){
    .hero img{
        width: 200px;
    }
    h1{
        font-size: 20pt;
    }
    h2{
        font-size: 14pt;
    }
    .info p{
        font-size: 11pt;
    }
    .descrizione p{
        width: 200px;
        font-size: 10pt;
    }
}

@media(max-width:770px){
    h1{
        font-size: 16pt;
        width: 200px;
    }
    h2{
        font-size: 12pt;
        width: 200px;
    }
}
@media(max-width:710px){
    .hero{
        padding-top: 0;
    }
    .hero img{
        width: 180px;
    }
    h1{
        font-size: 14pt;
        width: 170px;
    }
    .info p{
        font-size: 10pt;
        width: 170px;
    }
}

@media(max-width:650px){
    .hero img{
        width: 150px;
    }
    h2{
        width: 170px;
        font-size: 11pt;
    }
    .descrizione p{
        width: 173px;
        font-size: 9pt;
    }
}
@media(max-width:560px){
    .hero img{
        max-width: 120px;
    }
    h1{
        font-size: 13pt;
    }
    h2{
        width: 160px;
        font-size: 10pt;
    }
    .info p{
        width: 160px;
        font-size: 9pt;
    }
    .descrizione p{
        display: none;
    }

}
@media(max-width: 550px){
    .marchi img{
        max-width: 80px;
    }
    .contatti{
        font-size: 10pt;
        margin-left: -20rem;
    }
}
@media(max-width: 505px){
    .marchi img{
        max-width: 60px;
    }
    .abact p{
        font-size: 6pt;
    }
    .contatti{
        font-size: 10pt;
        margin-left: -17rem;
    }
}



