body{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: Inter, Jost, Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    color: #000000;
}

header a:hover{
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:0px 15px 0px 15px;
    color:#bfbfbf;
    border:0;
    font-size: 1.5rem;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}

.hamburger:hover{
    color:#9f9f9f;
}
  
.cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:0px 15px 0px 15px;
    color:#bfbfbf;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}

.cross:hover{
    color:#9f9f9f;
}

.menu{
    z-index:1000000; 
    font-size:0.8em; width:100%; 
    background:#ffffff;  
    position:absolute; 
    text-align:center;
}
.menu ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none;
}
.menu li {
    display: block;   
    padding:15px 0 15px 0; 
}
.menu li:hover{
    display: block;    
    background-color:#f3f3f3; 
    padding:15px 0 15px 0; 
}
.menu ul li a { 
    text-decoration:none;  
    margin: 0px; 
    color:#000000;
}
.menu ul li a:hover {  
    color: #000000; 
    text-decoration:none;
}
.menu a{
    text-decoration:none; 
    color:rgb(0, 0, 0);
}
.menu a:hover{
    text-decoration:none; 
    color:rgb(0, 0, 0);
}

header img{
    height: 40px;
}

.hero{
    display: flex;
}

div.heroimg{
    position: relative; 
    display: flex;
}

div.heroimg img.sfondo{
    max-width: 100%;
    opacity: 40%;
    margin-left: 1rem;
}

div.testata {
    padding: 8rem 0 0 8rem;
}

div.testata h1{
    color: rgb(185, 41, 23);
}
div.testata h2{
    width: 270px;
    margin-top: -1rem;
    width: 50;
}

div.testata p{
    width: 300px;
}

.box{
    width: 100%;
    height: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 700px;
    background: rgb(240,240,240);
    border-radius: 10px;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.card h3 {
    padding-top: -0.5rem;
}

.campografico img {
    border-radius: 0;
    margin: 2rem 2rem 2rem 2rem;
    object-fit: cover;
    height: 250px;
}

.testocg{
    margin-right: 2rem;
    margin-top: 0.5rem;
}

.campografico{
    display: flex;
}

.campografico .button{
    margin-left: 80%;
}

.campisti{
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 700px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.campisti img{
    max-width: 100%;
    display: flex;
}

.campisti .button{
    margin-left: 85%;
}

.owl-carousel{
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.item{
    width: 100%;
    height: 70%;
    background-color: rgb(240,240,240);
    border-radius: 10px;
}

.item h4{
    margin: 1rem;
    padding-top: 1rem;
}

.item img{
    border-radius: 10px;
    max-width: 80%;
}

.associazione img {
    border-radius: 0;
    margin: 2rem 2rem 2rem 2rem;
    object-fit: cover;
    height: 250px;
}

.associazione .testo{
    margin-right: 2rem;
    margin-top: 0.5rem;
}

.associazione{
    display: flex;
}

.associazione .button{
    margin-left: 75%;
}

.button{
    max-width: 100px;
    max-height: 30px;
    font-size: 7pt;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
    color: rgb(246, 246, 246);
    background-color: rgb(185, 41, 23);
    border-radius: 10px;
    border:0;
    cursor:pointer;
}

.button:hover{
    background-color: rgb(158, 32, 16);
}



footer{
    background-color: rgb(240,240,240);
    max-width: 100%;
    margin-top: 10rem;
}

footer div p{
    padding: 1rem;
    font-size: smaller;
    margin-top: -0.5rem;
}


.contatti{
    display:flex;
    margin-left: -24rem;
}

.marchi{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.marchi img{
    max-width: 100px;
    margin-left: 1rem;
}

.abact{
    display: flex;
}

.abact img{
    max-width: 30px;
    max-height: 30px;
    margin-left: -0.5rem;
}

.abact p{
    font-size: 8pt;
}
